<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Spring Boot and PostgreSQL</title>
    </head>
    <body>
        <h1>REST API with Spring Boot and PostgreSQL</h1>
        <ul>
            <li>GET <a href="/api/todos/">api/todos/</a>, retrieve all todos</li>
            <li>POST <a href="/api/todos/">api/todos/</a>, create a todo</li>
            <li>PUT <a href="/api/todos/1/">api/todos/1/</a>, update a todo</li>
            <li>GET <a href="/api/todos/1/">api/todos/1/</a>, get one todo</li>
            <li>DELETE <a href="/api/todos/1/">api/todos/1/</a>, delete a todo</li>
        </ul>
    </body>
</html>